<h1 class="tituloDatos">datos</h1>
<div class="contDatos">
    <span class="titulo-contDatos">Nombre</span>
    <span class="titulo-contDatos">Edad</span>
    <span class="titulo-contDatos">Trabajo</span>
    <span class="titulo-contDatos">Activo</span>
    <span class="titulo-contDatos">Editar</span>
    <span class="titulo-contDatos">Eliminar</span>

    {{#if datos}}
        {{#each datos}}
            {{#with this}}
                <span class="item-contDatos">{{nombre}}</span>
                <span class="item-contDatos">{{edad}}</span>
                <span class="item-contDatos">{{trabajo}}</span>
                <span class="item-contDatos">{{activo}}</span>
                <span class="item-contDatos link" onclick="cargaEdit({nombre:'{{nombre}}',edad:{{edad}},trabajo:'{{trabajo}}',activo:'{{activo}}'})">Editar</span>
                <span class="item-contDatos">♣</span>
            {{/with}}
        {{/each}}
    {{else}}
        <span class="noHave">No hay Datos</span>
    {{/if}}
</div>