<h1 class="tituloDatos">datos</h1>
<div class="contDatos">
    <span class="titulo-contDatos">Nombre</span>
    <span class="titulo-contDatos">Edad</span>
    <span class="titulo-contDatos">Trabajo</span>
    <span class="titulo-contDatos">Correo</span>
    <span class="titulo-contDatos">Contraseña</span>
    <span class="titulo-contDatos">Activo</span>
    <span class="titulo-contDatos">Editar</span>
    <span class="titulo-contDatos">Eliminar</span>

    {{#if datos}}
        {{#each datos}}
            {{#with this}}
                <span class="item-contDatos">{{nombre}}</span>
                <span class="item-contDatos">{{edad}}</span>
                <span class="item-contDatos">{{trabajo}}</span>
                <span class="item-contDatos">{{email}}</span>
                <span class="item-contDatos">{{password}}</span>
                <span class="item-contDatos">{{activo}}</span>
                <span class="item-contDatos link blue" onclick="cargaEditAggregate({_id:'{{_id}}',nombre:'{{nombre}}',edad:{{edad}},email:'{{email}}',password:'{{password}}',trabajo:'{{trabajo}}',activo:'{{activo}}'})"><i class="fas fa-marker fa-xl"></i></span>
                <span class="item-contDatos "><a class="red" href="consultasA/eliminar/{{_id}}"><i class="fas fa-trash fa-xl"></i></a></span>
            {{/with}}
        {{/each}}
    {{else}}
        <span class="noHave">No hay Datos</span>
    {{/if}}
</div>
