<h1 class="tituloDatos">DATOS</h1>
<div class="contDatos">
    <span class="titulo-contDatos">Nombre</span>
    <span class="titulo-contDatos">Edad</span>
    <span class="titulo-contDatos">Trabajo</span>
    <span class="titulo-contDatos">Activo</span>
    <span class="titulo-contDatos">Editar</span>
    <span class="titulo-contDatos">Eliminar</span>

    {{#if datos}}
        {{#each datos}}
            {{#with this}}
                <span class="item-contDatos">{{nombre}}</span>
                <span class="item-contDatos">{{edad}}</span>
                <span class="item-contDatos">{{trabajo}}</span>
                <span class="item-contDatos">{{activo}}</span>
                <span class="item-contDatos link blue" onclick="cargaEdit({nombre:'{{nombre}}',edad:{{edad}},trabajo:'{{trabajo}}',activo:'{{activo}}'})"><i class="fas fa-user-pen"></i></span>
                <span class="item-contDatos link red"><i class="fas fa-user-slash"></i></span>
            {{/with}}
        {{/each}}
    {{else}}
        <span class="noHave">No hay Datos</span>
    {{/if}}
</div>